<br>
<a id="displayModelFeatures" class="btn btn" data-toggle="collapse" data-target="#modelFeatures">
    <i class="fa fa-edit"></i> {{ 'model parameters' | trans }}
</a>

<div id="modelFeatures" class="list-group collapse">
    {% include "UJMExoBundle:Partial:model.html.twig" %}
</div>